*{
    margin: 0;
    padding: 0;
}

nav {
    color: white;
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
    font-size: 20px;
}

.nav-links {
    text-decoration: none;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
}

.nav-links:hover {
    color: red;
    transition: ease-in-out 0.5s;
}

#porsche-nav {
    margin-right: 870px;
    text-decoration: none;
    color: white;
}

#porsche-nav:hover {
    color: red;
    transition: ease-in-out 0.5s;
}

#btn-nav {
    height: 50px;
    width: 100px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

#btn-nav:hover {
    -webkit-box-shadow: 11px 5px 15px 0px #FF0000; 
    box-shadow: 11px 5px 15px 0px #FF0000;
    transition: ease-in-out 1s;
}

main{
    background: linear-gradient(135deg, #0A0A0A 0%, #1a0505 60%, #0A0A0A 100%);
  
}
.porsche-configurator{
    color: #FF0000;
}

.progetta{
    color: white;
}

.porsche{
    color: #FF0000;
}